html {
	font-family: 'Poiret One', cursive;
	font-size: 17px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #00132A;
	font-weight: 700;
}

a:hover {
	color: #BDD3E8;
}

h2 {
    margin: 1.5em 0 0 0;
}

hr {
    margin-bottom: 60px;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

header {
	margin-bottom: -20px;
	padding: 0;
	height: 105px;
	border-bottom: 6px solid #CC2514;
}

.header {
	position: relative;
	max-width: 1366px;
	margin: 0 auto;
}

.image-gradient {
	background: 
        -webkit-linear-gradient(rgba(0, 19, 42, .8), rgba(0, 19, 42, .8)), url('../images/html2-min.jpg');
	background: 
        -o-linear-gradient(rgba(0, 19, 42, .8), rgba(0, 19, 42, .8)), url('../images/html2-min.jpg');
	background: 
        linear-gradient(rgba(0, 19, 42, .8), rgba(0, 19, 42, .8)),url('../images/html2-min.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.profile-picture-container {
	z-index: 10;
	display: inline-block;
	width: 80%;
}

.profile-picture {
	width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: rgba(255,255,255, 0.4);
    margin: 10px;
    display: inline;
}

.profile-data{
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
}

.profile-name {
	color: white;
    font-weight: 700;
    font-size: 3em;
}

.profile-description {
	color: white;
    font-weight: 300;
    font-size: 0.9sem;
    padding-left: 3px;
}

.menu-buttons {
	width: 19%;
	height: 113px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
}

.open-menu.is-active,
.close-menu.is-active{
  display: block;
}

.open-menu,
.close-menu {
    position: absolute;
    right: 30px;
    top: 36px;
    width: 35px;
    height: 35px;
    display: none;
    cursor: pointer;
}

.menu {
	opacity: 0;
    z-index: 20;
    display: inline-block;
    vertical-align: top;
    background: #CC2514;
    padding: 0;
    width: 215px;
    position: absolute;
    right: -215px;
    top: 105px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

.menu.is-active {
  right: 0;
  opacity: 1;
}

.menu ul{
    list-style-type: none;
    text-align: right;
    font-size: 1.4em;
    font-weight: 800;
    line-height: 2.5em;
    padding: 0;
    margin: 0 24px;
}

.menu ul li {
	display: inline-block;
    margin: 0 .6em;
}

.menu ul li a{
	color: white;
}

.menu ul li a:hover{
	color: #7F3A33;
}

.link-active {
	color: white;
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.profile-data{
	    margin-top: 25px;
	}

	.profile-name {
	    font-size: 2em;
	}
}

@media screen and (max-width: 715px) {
	header {
		height: auto;
	}

	.open-menu.is-active,
	.close-menu.is-active{
	  	display: none;
	}

	.profile-picture-container {
		width: auto;
	    display: block;
        text-align: center;
	}

	.menu-buttons {
	    display: none;
	}

	.menu {
		opacity: 1;
		background-color: #00132A;
		width: auto;
	    display: block;
        text-align: center;
        margin-top: 0;
        z-index: 20;
	    vertical-align: none;
	    position: relative;
	    right: 0;
		top: 0;
		height: auto;
	}

	.menu ul{
		text-align: center;
		font-size: 1.2em;
		line-height: 1.4em;
		margin: 0;
		padding: 10px;
	}

	a {
		color: #BDD3E8;
	}

	a:hover {
		color: #2A86AD;
	}
}

.image-section {
	width: 100%;
	margin-top: 20px;
	display: block;
}

.text-section {
	display: none;
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 20px;
}

.content-container {
	margin: 0 auto;
	max-width: 1366px;
	position: relative;
}

.content-container img { 
	width: 100%;
	-webkit-transition: 2s;
	  -moz-transition: 2s;
	  -o-transition: 2s;
	  -ms-transition: 2s;
	  transition: 2s;
	-webkit-backface-visibility: hidden
}

.image-container-row {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
    margin-right: -6px;
    height: 480px;
    position: relative;
}

.image-container-row img { 
	width: 100%;
	height: 480;
	z-index: 1;
	-webkit-transition: 2s;
	  -moz-transition: 2s;
	  -o-transition: 2s;
	  -ms-transition: 2s;
	  transition: 2s;
	-webkit-backface-visibility: hidden
}

.content-container-row {
	width: 25%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
    margin-right: -6px;
    height: 300px;
}


@media screen and (max-width: 900px) {
	.content-container-row  {
		width: 50%;
	}
}

@media screen and (max-width: 1024px) {
	.content-container-row,
	.image-container-row  {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	.image-section {
		display: none;
	}

	.text-section {
		display: block;
	}
}	

.experience-container {
	margin: 15px;
}

.experience-block {
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px dashed black;
    margin: 0 auto;
    box-shadow: 5px 1px 5px #ddd;
}

.experience-block figure {
	text-align: center;
	margin: 0;
    width: 55px;
    margin: 0 auto;
} 	

.experience-block figure img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.experience-block figure figcaption {
	font-size: .6em;
}

.experience-block > .experience-description {
	display: inline-block;	
}

.experience-description ul {
	padding: 0 0 0 20px;
}

.php-background {
	background-image: url('../images/php.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.responsive-design-background {
	background-image: url('../images/responsive-design.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.article {
	margin: 0 auto 140px auto;
    padding: 20px 5px 0 5px;
    background-color: white;
    font-size: 1.1em;
    max-width: 768px;
}

.article ul li {
	padding-top: 10px; 
	padding-bottom: 10px; 
}

footer {
	text-align: center;
	background: 
        -webkit-linear-gradient(rgba(189,211,232, .6), rgba(189,211,232, .6)), url('../images/developer-style.jpg');
	background: 
        -o-linear-gradient(rgba(189,211,232, .6), rgba(189,211,232, .6)), url('../images/developer-style.jpg');
	background: 
        linear-gradient(rgba(189,211,232, .6), rgba(189,211,232, .6)),url('../images/developer-style.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
  	padding: 10px;
  	border-top: 6px solid #CC2514;
  	width: 100%;

}

footer figure {
	display: inline-block;
	margin: 0 4px 0 0;
}

.img-social-networks {
	width: 15px;
}

.contact-data > .email{
	font-weight: 800;
}

.reserved-rights {
	margin-top: 10px;
	font-size: .7em;
}



.floating-experience {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #00132A;
}

.--css {
    top: 13%;
    left: 19%;
}

.--html {
    top: 6%;
    left: 33%;
}

.--javascript {
    top: 32%;
    left: 16%;
}

.--android {
    top: 81%;
    left: 19%;
}

.--php {
    top: 20%;
    left: 49%;	
}

.--mysql {
    top: 9%;
    right: 14%;	
}

.--linux {
    top: 42%;
    left: 69%;	
}

.--scrum {
    bottom: 14%;
    right: 15%;
		
}

.--git {
    bottom: 12%;
    right: 42%;		
}

.icon-experience {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.blur-effect {
	z-index: 1;
	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
  	border: none;
}

.open--left--mysql {
	margin-left: -250px !important;
}

.floating-experience span{
	width: 250px;
	height: 250px;
	font-size: 15px;
	border: 1px dashed black;
	margin-left: 45px;
	background: rgba(255,255,255,0.8);
	text-indent: 0px;
	position: absolute;
	pointer-events: none;
	border-radius: 50%;
	bottom: -40px;
	opacity: 0;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-o-transform: scale(0.2);
	-ms-transform: scale(0.2);
	transform: scale(0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 1000;
}

.floating-experience--js {
	width: 300px !important;
	height: 300px !important;
}

.floating-experience--css {
	width: 280px !important;
	height: 280px !important;
}

.floating-experience--scrum {
	width: 290px !important;
	height: 290px !important;
	margin-left: -280px !important;
}

.floating-experience--php {
	width: 290px !important;
	height: 290px !important;
}


.floating-experience:hover span{
	opacity: 1;
	/* left: 100px; */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.floating-experience h3 {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 6px;
}

.floating-experience ul {
	font-size: 1.1em;
	vertical-align: middle;
    display: inline-block;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}