html {
	font-family: 'Poiret One', cursive;
	font-size: 17px;
}

a {
	text-decoration: none;
	color: #00132A;
	font-weight: 700;
}

a:hover {
	color: #BDD3E8;
}

footer {
	padding: 10px;
}


header {
	margin-bottom: -20px;
	padding: 0;
	height: 105px;
	border-bottom: 6px solid #2A86AD;
}

.image-gradient {
	background: 
        -webkit-linear-gradient(rgba(42, 134, 173, .7), rgba(42, 134, 173, .7)), url('../images/html2-min.jpg');
	background: 
        -o-linear-gradient(rgba(42, 134, 173, .7), rgba(42, 134, 173, .7)), url('../images/html2-min.jpg');
	background: 
        linear-gradient(rgba(42, 134, 173, .7), rgba(42, 134, 173, .7)),url('../images/html2-min.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}


.profile-picture-container {
	z-index: 10;
	display: inline-block;
	width: 49%;
}

.profile-picture {
	width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: rgba(255,255,255, 0.4);
    margin: 10px;
    display: inline;
}

.profile-data{
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
}

.profile-name {
	color: white;
    font-weight: 700;
    font-size: 3em;
}

.profile-description {
	color: white;
    font-weight: 300;
    font-size: 0.9sem;
    padding-left: 3px;
}

.menu {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 34px;
}

.menu ul{
	list-style-type: none;	
	text-align: right;
	font-size: 1.2em;
	font-weight: 800;
	line-height: 2em;
	padding: 0;
	margin: 0;
}

.menu ul li {
	display: inline-block;
    margin: 0 .6em;
}

@media screen and (max-width: 768px) {
	.profile-data{
	    margin-top: 25px;
	}

	.profile-name {
	    font-size: 2em;
	}
}

@media screen and (max-width: 715px) {
	header {
		height: auto;
	}

	.profile-picture-container {
		width: auto;
	    display: block;
        text-align: center;
	}

	.menu {
		width: auto;
	    display: block;
        text-align: center;
        margin-top: 0;
        background-color: #2A86AD;
	}

	.menu ul{
		text-align: center;
	}
}

.blur-effect {
	z-index: 1;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}

footer {
	text-align: center;
	background-color: rgba(189,211,232, .5);
}

footer figure {
	display: inline-block;
	margin: 0 4px 0 0;
}

.img-social-networks {
	width: 15px;
}

.contact-data > .email{
	font-weight: 800;
}

.reserved-rights {
	margin-top: 10px;
	font-size: .7em;
}

.content-container {
	margin: 0 auto;
	max-width: 1366px;
	background-image: url('../images/background-line.png');
}

.background-section {
	width: 100%;
	background-image: url('../images/background-line.png');
	margin-top: 20px;
}

.content-container-row {
	width: 25%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
    margin-right: -6px;
    height: 400px;
}

@media screen and (max-width: 1250px) {
	.content-container-row  {
		width: 33.3333333%;
	}
}

@media screen and (max-width: 900px) {
	.content-container-row  {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.content-container-row  {
		width: 100%;
	}
}

.experience-container {
	margin: 15px;
}

.experience-block {
    background-color: white;
    padding: 10px;
}


.experience-block figure {
	text-align: center;
	margin: 0;
    width: 55px;
    margin: 0 auto;
} 	

.experience-block figure img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.experience-block figure figcaption {
	font-size: .6em;
}

.experience-block > .experience-description {
	display: inline-block;	
}

.experience-description ul {
	padding: 0 0 0 20px;
}

.php-background {
	background-image: url('../images/php.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.profile {
	margin: 0 auto;
	padding: 20px;
    background-color: white;
    font-size: 1.2em;
    max-width: 768px;
}

.link-active {
	color: white;
	text-decoration: underline;
}